:root {
  --black: #090914;
  --white: #ffffff;
  --dark-grey: #606062;
  --pastel-blue: #223fa3;
  --dark-beige: #ebe7e0;
  --light-beige: #f6f4f2;
  --pink: #f5c8cf;
  --danger: #ce1230;
  --light-grey: #cecece;
  --body-color: #121212;
  --base-color: #7b7b7b;

  --border-color: #191919;
}
